{% extends 'users/base.html' %}

{% block content %}
<p>
    <button class="btn btn-default"><a href="{% url 'upload:show_image_all_by_name' %}">sort by name</a></button>
    <button class="btn btn-default"><a href="{% url 'upload:show_image_all_by_time' %}">sort by time</a></button>
    <button class="btn btn-default"><a href="{% url 'upload:show_image_all_by_size' %}">sort by size</a></button>
</p>
<p> </p>
{% for image in images %}
    <a href="{{ image.image.url }}"><img src="{{ image.image.url }}" height='180' width='240' /></a>
{% endfor %}

{% for file in files %}
    <a href="{% url 'upload:show_file_detail' file.id %}"><img src="{{ file.thumbnail.url }}" height='180' width='240' /></a>
{% endfor %}

{% endblock %}
