{% extends 'users/base.html' %}

{% block content %}

<div class="btn-group" role="group" aria-label="web">
  <button type="button" class="btn btn-default"><a href="{% url 'upload:show_image_all_by_name' %}">Sort by name</a></button>
  <button type="button" class="btn btn-default"><a href="{% url 'upload:show_image_all_by_time' %}">Sort by time</a></button>
  <button type="button" class="btn btn-default"><a href="{% url 'upload:show_image_all_by_size' %}">Sort by size</a></button>
</div>

<p></p>
<div class="container">
    <div class="row">
    {% for image in images %}
        <div class="col-xs-3 ">
            <a href="{{ image.image.url }}" class="thumbnail">
                <img src="{{ image.image.url }}" style="width:240px;height:160px">
            </a>
            <div class="caption">
                <div class="text-muted" style='width:200px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;' title="{{ image.name }}">
                    <span class="label label-success">Photo</span>
                    {{ image.name }}
                </div>
                <br>
                <p><a href="#" class="btn btn-primary" role="button">select</a></p>
            </div>
        </div>
    {% endfor %}

    {% for file in files %}
        <div class="col-xs-3 ">
            <a href="{% url 'upload:show_file_detail' file.id %}" class="thumbnail">
                <img src="{{ file.thumbnail.url }}" style="width:240px;height:160px">
            </a>
            <div class="caption">
                <div class="text-muted" style='width:200px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;' title="{{ file.description }}">
                    <span class="label label-info">Video</span>
                    {{ file.description }}
                </div>
                <br>
                <p><a href="#" class="btn btn-primary" role="button">select</a></p>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}


