{% extends 'users/base.html' %}

{% block content %}
<h3 style="color:red">******** You have {{ files.count }} videos ********</h3>
<button class="btn btn-default"><a href="{% url 'upload:upload_file' %}">Upload Videos</a></button>
<p>   </p>
{% for file in files %}
<div>
    <video id="placeholder" width="370px" controls poster="{{ file.thumbnail.url }}">
        <source src="{{ file.file.url }}" type="video/mp4">
        <!--<source src="{{ file.file.url }}" type="video/ogg">-->
    </video>
    <p><strong>{{ file.description }}</strong> <small><em style="color:gray">Published {{ file.pub_date }}</em></small></p>
        <button class="btn btn-default"><a href="{% url 'upload:show_file_detail' file.id %}">Watch Full Video</a></button>
        <button class="btn btn-default"><a href="{% url 'upload:file_delete' file.id %}">Delete</a></button>
    <p> </p>
</div>
{% endfor %}
{% endblock %}
