<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>{% block title %}Welcome to Chand Home{% endblock %}</title>
    <link rel="stylesheet" href="https://unpkg.com/mobi.css/dist/mobi.min.css">
</head>
<body>

<div class="flex-center">
    <div class="container">
        <div>
        <button class="btn btn-default"><a href="/">Home</a></button>
        <button class="btn btn-default"><a href="{% url 'upload:show_album' %}">Album</a></button>
        <button class="btn btn-default"><a href="{% url 'upload:show_file' %}">Media</a></button>
        <button class="btn btn-default"><a href="{% url 'blog:post_list' %}">Blog</a></button>
            {% if user.is_authenticated %}
            <p>Welcome: {{ user.username }}
                    <button class="btn btn-default"><a href="{% url 'users:logout' %}">Logout</a></button> -
                    <button class="btn btn-default"><a href="{% url 'users:profile_view' %}">Settings</a></button>
                </p>
            {% else %}
                <p>You're not logged in yet, please
                    <button class="btn btn-default"><a href="{% url 'users:login' %}">Sign in</a></button>
                    or
                    <button class="btn btn-default"><a href="{% url 'users:register' %}">Sign up</a></button>
                </p>
            {% endif %}
        </div>
        {% block content %}{% endblock %}
    </div>
</div>
</body>
</html>