{% extends 'users/base.html' %}

{% block content %}
{% if user.is_authenticated %}
    <h3>Profile: <em>{{ user.username }}</em></h3>
    <p>Email address: {{ user.email }}</p>
    <p>
        <button class="btn btn-default"><a href="{% url 'upload:show_album' %}">Albums</a></button> -
        <button class="btn btn-default"><a href="{% url 'upload:show_image_all' %}">All Images</a></button> -
        <button class="btn btn-default"><a href="{% url 'upload:show_file' %}">Files</a></button> -
        <button class="btn btn-default"><a href="{% url 'upload:upload_file' %}">Upload Files</a></button>
    </p>
    <p>
        <button class="btn btn-default"><a href="{% url 'upload:trash_detail' %}">Trash</a></button>
    </p>

{% else %}

{% endif %}
{% endblock %}