{% extends 'users/base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}

<div class="flex-center">
    <div class="container">
        <div class="">
            <div class="unit-1-2 unit-3-on-mobile">
                <div>
                {% if user.is_authenticated %}
                    <p><img src="{{ user.profile.photo.url }}" height='200' width='200'/></p>
                    <p>Username: {{ user.username }}</p>
                    <p>Email: {{ user.email }}</p>
                    <p>Gender: {{ user.profile.get_gender_display }}</p>
                    <p>Birthday: {{ user.profile.birthday }}</p>
                    <p>Bio: {{ user.profile.bio }}</p>
                    <p>Location: {{ user.profile.location }}</p>
                    <p>Website: {{ user.profile.website }}</p>
                    <button class="btn btn-default"><a href="{% url 'users:profile_edit' user.id %}">Update Profile</a></button> -
                    <button class="btn btn-default"><a href="{% url 'users:change' %}">Password</a></button>
            {% else %}
                <p>You're not logged in yet, please
                    <button class="btn btn-default"><a href="{% url 'users:login' %}">Sign in</a></button>
                    or
                    <button class="btn btn-default"><a href="{% url 'users:register' %}">Sign up</a></button>
                </p>
            {% endif %}
        </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
