{% extends 'users/base.html' %}
{% load widget_tweaks %}

{% block title %}Sign up Professional{% endblock %}

{% block content %}
<div class="flex-center">
    <div class="container">
        <div class="flex-center">
            <div class="unit-1-2 unit-1-on-mobile">
            <div class="row">
                    <div class="col-xs-4">
                    </div>
                <div class="col-xs-4">
                <h3>Sign up Professional</h3>
                <!--<form class="form" method="post">-->
                    <!--{% csrf_token %}-->
                    <!--{% for field in form %}-->
                    <!--<p>{{ field.label_tag }}</p>-->
                        <!--<p>{{ field }}</p>-->
                        <!--{% for error in field.errors %}-->
                            <!--<p style="color: red">{{ error }}</p>-->
                        <!--{% endfor %}-->
                    <!--{% endfor %}-->
                    <!--<button type="submit" class="btn btn-primary">Register</button>-->
                <!--</form>-->
                <form method="post" novalidate>
                  {% csrf_token %}

                  {% for hidden_field in form.hidden_fields %}
                    {{ hidden_field }}
                  {% endfor %}

                  {% if form.non_field_errors %}
                    <div class="alert alert-danger" role="alert">
                      {% for error in form.non_field_errors %}
                        {{ error }}
                      {% endfor %}
                    </div>
                  {% endif %}

                  {% for field in form.visible_fields %}
                    <div class="form-group">
                      {{ field.label_tag }}

                      {% if form.is_bound %}
                        {% if field.errors %}
                          {% render_field field class="form-control is-invalid" %}
                          {% for error in field.errors %}
                            <div class="invalid-feedback">
                              {{ error }}
                            </div>
                          {% endfor %}
                        {% else %}
                          {% render_field field class="form-control is-valid" %}
                        {% endif %}
                      {% else %}
                        {% render_field field class="form-control" %}
                      {% endif %}
                    </div>
                  {% endfor %}
                  <button type="submit" class="btn btn-primary">Sign up now</button>
                  </form>
                <div class="flex-center top-gap text-small">
                    <a href="{% url 'users:login' %}">Already got account? Sign in</a>
                </div>
            </div>
        </div>
    </div>
</div>
    </div>
</div>
{% endblock %}